---
import type { Place } from '@prisma/client'
import { Image } from 'astro:assets'
import Star from './Star.astro'

interface Props {
  place: Place
}

const { place } = Astro.props
const { id, title, image, avg_rating } = place
const imageUrl = `/assets/images/${image}`
---

<div
  class='max-w-sm mx-auto mt-8 h-full shadow-md rounded-lg bg-gray-800 border-gray-700 flex flex-col'
  data-id={id}
>
  <a href={`/place/${id}`}>
    <Image
      class='rounded-t-lg pb-4'
      src={imageUrl}
      alt={title}
      width={400}
      height={400}
    />
  </a>
  <div class='px-5 pb-5 flex flex-col justify-between flex-1'>
    <a href={`/place/${id}`}>
      <h3 class='text-xl text-white line-clamp-3 text-balance'>
        {title}
      </h3>
    </a>
    <div class='flex items-center mt-2.5'>
      <div class='flex flex-1'>
        {Array.from({ length: Math.round(+avg_rating) }, (_) => <Star />)}
      </div>
      <span
        class='text-xs font-semibold px-2.5 py-0.5 rounded bg-blue-200 text-blue-800 ml-3'
      >
        {avg_rating}
      </span>
    </div>
  </div>
</div>
